<a href="https://colab.research.google.com/github/jimmy-io/worksheeets-/blob/master/02_Filtering_%26_Sorting_Chipotle_Exercises_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [6]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [7]:
## Sort by the name of the item

chipo.sort_values(by = 'item_name')

      order_id  ...  item_price
3389      1360  ...     $12.98
341        148  ...      $6.49
1849       749  ...      $6.49
1860       754  ...      $6.49
2713      1076  ...      $6.49
...        ...  ...         ...
2384       948  ...      $8.75
781        322  ...      $8.75
2851      1132  ...      $8.49
1699       688  ...     $11.25
1395       567  ...      $8.49

[4622 rows x 5 columns]

In [0]:
## What was the quantity of the most expensive item ordered?

dollarizer = lambda x : float(x[1:-1])

chipo['item_price1'] = chipo['item_price'].apply(dollarizer)

In [11]:
chipo.head()

   order_id  quantity  ... item_price item_price1
0         1         1  ...     $2.39         2.39
1         1         1  ...     $3.39         3.39
2         1         1  ...     $3.39         3.39
3         1         1  ...     $2.39         2.39
4         2         2  ...    $16.98        16.98

[5 rows x 6 columns]

In [12]:
chipo.sort_values(by = 'item_price1')

      order_id  quantity  ... item_price item_price1
1140       471         1  ...     $1.09         1.09
821        338         1  ...     $1.09         1.09
3926      1575         1  ...     $1.09         1.09
107         47         1  ...     $1.09         1.09
2562      1014         1  ...     $1.09         1.09
...        ...       ...  ...        ...         ...
3601      1443         3  ...    $33.75        33.75
3602      1443         4  ...    $35.00        35.00
1254       511         4  ...    $35.00        35.00
3480      1398         3  ...    $35.25        35.25
3598      1443        15  ...    $44.25        44.25

[4622 rows x 6 columns]

In [13]:
## How many times was a Veggie Salad Bowl ordered?

chipo[chipo['item_name'] ==  'Veggie Salad Bowl'].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
item_price1           18
dtype: int64

In [14]:
## How many times did someone order more than one Canned Soda?

chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
item_price1           20
dtype: int64